{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/button-has-type": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/prefer-default-export": 0
  }
}